<section class="contact section" id="contact">
    <div class="contact__container container grid">
        <div class="contact__data">
            <h2 class="section__title">Contact Now</h2>

            <div class="contact__info grid">
                <div>
                    <h3 class="contact__title">Write Us</h3>

                    <div class="contact__social">
                        <a href="https://wa.me/qr/6ZALJQBGX3Z4A1" target="_blank" class="contact__social-link">
                            <i class="ri-whatsapp-fill"></i>
                        </a>
                        <a href="https://www.instagram.com/alexey_grsm" target="_blank" class="contact__social-link">
                            <i class="ri-instagram-fill"></i>
                        </a>
                        <a href="https://t.me/ejukk" target="_blank" class="contact__social-link">
                            <i class="ri-telegram-2-fill"></i>
                        </a>
                    </div>
                </div>
                <div>
                    <h3 class="contact__title">Delivery</h3>
                    <address class="contact__address">
                        +00-987-7654-321 <br />
                        +11-012345
                    </address>
                </div>
                <div>
                    <h3 class="contact__title">Location</h3>
                    <address class="contact__address">
                        Lima - Sun City - Peru <br />
                        Av. Moon #4321
                    </address>
                    <a href="https://maps.app.goo.gl/MAmMDxUBFXBSUzLH7" target="_blank" class="contact__map">
                        <i class="ri-map-pin-fill"></i>
                        <span>View On Map</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="contact__image">
            <img src="/src/assets/img/contact-img.png" alt="Alt" class="contact__img">
        </div>

        <img src="/src/assets/img/sticker-tomato.svg" alt="Alt" class="contact__sticker contact__sticker-1">
        <img src="/src/assets/img/sticker-mushroom.svg" alt="Alt" class="contact__sticker contact__sticker-2">
        <img src="/src/assets/img/sticker-onion.svg" alt="Alt" class="contact__sticker contact__sticker-3">
    </div>
</section>