<header class="header" id="header">
    <nav class="nav container">
        <a href="/" class="nav__logo">
            <img src="/src/assets/img/logo-pizza.svg" alt="Pizza">
            Pizza
        </a>

        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li>
                    <a href="#home" class="nav__link">Home</a>
                </li>
                <li>
                    <a href="#about" class="nav__link">About Us</a>
                </li>
                <li>
                    <a href="#popular" class="nav__link">Popular</a>
                </li>
                <li>
                    <a href="#products" class="nav__link">Products</a>
                </li>
                <li>
                    <a href="#contact" class="nav__link">Contact</a>
                </li>
            </ul>

            <!-- Сlose button -->
            <div class="nav__close" id="nav-close">
                <i class="ri-close-large-line"></i>
            </div>

        </div>

        <div class="flex">
            <!-- Cart -->
            <div class="ejCart" data-cart-open>
                <i class="ri-shopping-cart-2-fill ejCart__icon"></i>
                <span class="ejCart__count">0</span>
            </div>

            <!-- Toggle button -->
            <div class="nav__toggle" id="nav-toggle">
                <i class="ri-apps-2-fill"></i>
            </div>
        </div>
    </nav>
</header>