<section class="popular section" id="popular">
    <div class="popular__container container grid">
        <div class="popular__data">
            <h2 class="section__title">Discover <br> Popular Orders</h2>

            <p class="popular__description">
                Select the best prepared and delicious flavors.
                We have collected some popular recipes from around
                the world for you to choose your favorite.
            </p>
        </div>

        <div class="popular__swiper swiper">
            <img src="/src/assets/img/popular-dish.png" alt="Alt" class="popular__dish">

            <div class="swiper-wrapper">
                <article class="popular__card swiper-slide">
                    <img src="/src/assets/img/popular-1.png" alt="Alt" class="popular__img">
                    <h3 class="popular__title">Margherita Pizza</h3>
                </article>
                <article class="popular__card swiper-slide">
                    <img src="/src/assets/img/popular-2.png" alt="Alt" class="popular__img">
                    <h3 class="popular__title">Mushroom Pizza</h3>
                </article>
                <article class="popular__card swiper-slide">
                    <img src="/src/assets/img/popular-3.png" alt="Alt" class="popular__img">
                    <h3 class="popular__title">Pepperoni Pizza</h3>
                </article>
            </div>
        </div>
    </div>
</section>