<section class="products section" id="products">
    <h2 class="section__title">The Most <br> Devoured Pizzas</h2>

    <div class="products__container container grid">
        <!-- <article class="products__card">
            <img src="/src/assets/img/product-1.png" alt="Alt" class="products__img">

            <h3 class="products__name">Vegetarian <br> Pizza</h3>
            <span class="products__price">$15</span>

            <button class="products__button">
                <i class="ri-shopping-bag-3-fill"></i>
            </button>
        </article>
        
        <article class="products__card">
            <img src="/src/assets/img/product-2.png" alt="Alt" class="products__img">

            <h3 class="products__name">Pepperoni <br> Pizza</h3>
            <span class="products__price">$10</span>

            <button class="products__button">
                <i class="ri-shopping-bag-3-fill"></i>
            </button>
        </article>

        <article class="products__card">
            <img src="/src/assets/img/product-3.png" alt="Alt" class="products__img">

            <h3 class="products__name">Margherita <br> Pizza</h3>
            <span class="products__price">$12</span>

            <button class="products__button">
                <i class="ri-shopping-bag-3-fill"></i>
            </button>
        </article>

        <article class="products__card">
            <img src="/src/assets/img/product-4.png" alt="Alt" class="products__img">

            <h3 class="products__name">Mushroom <br> Pizza</h3>
            <span class="products__price">$17</span>

            <button class="products__button">
                <i class="ri-shopping-bag-3-fill"></i>
            </button>
        </article>

        <article class="products__card">
            <img src="/src/assets/img/product-5.png" alt="Alt" class="products__img">

            <h3 class="products__name">Italian <br> Pizza</h3>
            <span class="products__price">$10</span>

            <button class="products__button">
                <i class="ri-shopping-bag-3-fill"></i>
            </button>
        </article> -->
    </div>
</section>