<div class="ejCartTab">
    <div class="ejCartTab__content">
        <button class="ejCartTab__close" data-cart-close>
            <i class="ri-close-circle-fill"></i>
        </button>
        <h2 class="ejCartTab__title">Shopping Cart</h2>

        <div class="ejCartTab__items">
            <!-- Здесь будут динамически добавляться товары -->
        </div>

        <div class="ejCartTab__footer">
            <span class="ejCartTab__total">Total: $0</span>
            <button class="ejCartTab__checkout">Buy Now</button>
        </div>
    </div>
</div>